.easyui-tree li {
    padding-top: 1px;
    padding-bottom: 1px;
}

.easyui-tree li a {
    font-size: 15px;
    text-decoration: none;
    color: black;
}

.aBtn {
    display: block;
    padding: 5px 25% 5px 25%;
    text-decoration: none;
    font-size: 15px;
    color: #4b5257;
    margin: 7px 0 7px 0;
}

.aBtn:hover {
    background-color: #6dbfff;
}

.icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    line-height: 16px;
}