.tl {
    font-size: 22px;
    color: red;
    font-weight: bold;
}

.table-responsive {
    display: table;
}

.item-info-th {
    width: inherit;
}

.item-fix-height {
    height: 120px;
}

.clear-float {
    display: block;
    overflow: hidden;
}

.left-info {
    float: left;
}

.right-info {
    margin-left: 10px;
    margin-right: 10px;
    float: left;
    width: inherit;
    height: 120px;
    position: relative;
}

.right-top-info {
    display: block;
    position: absolute;
    top: 0;
}

.right-bottom-info {
    display: block;
    position: absolute;
    bottom: 0;
}

.te {
    /*line-height: 120px;*/
    /*height: 120px;*/
    width: inherit;
    text-align: center;
}

.number-input {
    width: 32px;
    height: 32px;
    display: inline-block;
    border-width: 2px;
    text-align: center;
}

.span-number {
    display: inline-block;
    vertical-align: middle;
    font-size: smaller;
    text-align: center;
    height: 34px;
    margin-right: 4px;
}

.span-number .span-number-up {
    height: 15px;
    width: 16px;
    display: block;
    line-height: 14px;
    border: 1px solid #a7a6ab;
    margin-bottom: 2px;
    cursor: pointer;
}

.span-number .span-number-down {
    border: 1px solid #a7a6ab;
    height: 15px;
    width: 16px;
    display: block;
    line-height: 14px;
    margin-top: 2px;
    cursor: pointer;
}

nav .row {
    padding: 0;
}

@media (max-width: 600px) {
    .small-img {
        width: 3em;
        height: 3em;
    }
}